<!DOCTYPE html>
<html lang="en">
    <head>
        <title>aiochat</title>

        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <h1>Hello, aiochat!</h1>
        <input type="text" id="message" aria-label="input">
        <button type="button" id="button">Send</button>
        <div style="margin-top: 32px; max-height: 80%; overflow-y: scroll;">
            <table id="chatbox"></table>            
        </div>

        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>
</html>